* {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
main{
    background-color: aqua;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    margin: 50px auto;
    width: 500px;
    border: 5px solid rgb(10, 10, 77);
}
h1 {
    color: rgb(10, 10, 77);
    font-size: 40px;
}
p {
    font-size: 30px;
    color: rgb(79, 27, 128);
}
button {
    background-color: rgb(239, 140, 160);
    padding: 15px;
    font-size: 20px;
    border-radius:40px;
}
#answerInput {
    font-size: 20px;
    border: 30px;
    border-color: black;
    padding: 10px;
}
button:hover {
    background-color: rgb(239, 140, 160);
    color: white;
}